.nav-icon {
  display: block;
  font-size: 1.5rem;
  color: #aaa;
  padding: 0.5rem;
  border-radius: 0.5rem;
  transition: 0.2s;
}
.nav-icon:hover {
  background-color: #333;
  color: #fff;
}
.active-nav {
  background-color: #4c1d95;
  color: white !important;
}
.card {
  padding: 1rem;
  border-radius: 0.75rem;
  font-weight: bold;
  font-size: 1.25rem;
}
.input {
  padding: 0.75rem;
  border-radius: 0.5rem;
  background-color: #1f2937;
  border: 1px solid #374151;
  color: white;
}
.btn {
  padding: 0.75rem;
  font-weight: bold;
  border-radius: 0.5rem;
  text-align: center;
}
